{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row my-4">
    <div class="col-md-5 offset-md-3">
        <h2>{% trans "Confirm Delete Interest" %}</h2>
        <p>{% trans "Are you sure you want to delete this interest?" %}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="general-button-black">{% trans "Delete" %}</button>
            <a href="{% url 'user_detail' %}" class="general-button-orange">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>
{% endblock %}
