{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{% trans "Profile Update" %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- First column -->
                    <div class="col-md-6">
                        {% if form.instance.picture %}
                        <div class="mb-3">
                            <img src="{{ form.instance.picture.url }}" class="img-thumbnail" alt="Current Profile Picture" style="max-width: 150px;">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.picture.label_tag }}
                            {{ form.picture }}
                            {{ form.picture.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.bio.label_tag }}
                            {{ form.bio }}
                            {{ form.bio.errors }}
                        </div>
                        
                    </div>
                    <!-- Second column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                            {{ form.address.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.website.label_tag }}
                            {{ form.website }}
                            {{ form.website.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.linkedin.label_tag }}
                            {{ form.linkedin }}
                            {{ form.linkedin.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.github.label_tag }}
                            {{ form.github }}
                            {{ form.github.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.twitter.label_tag }}
                            {{ form.twitter }}
                            {{ form.twitter.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.facebook.label_tag }}
                            {{ form.facebook }}
                            {{ form.facebook.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.instagram.label_tag }}
                            {{ form.instagram }}
                            {{ form.instagram.errors }}
                        </div>
                        <hr>
                        <div class="form-group">
                            {{ form.password_protected.label_tag }}
                            {{ form.password_protected }}
                            {{ form.password_protected.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                        
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="general-button-orange my-3">{% trans "Save" %}</button>
                    <a class="general-button-black" href="{% url 'user_detail' %}">{% trans "Cancel" %}</a>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
