{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{% trans "Profile Update" %}</h2>
            
            <!-- Mostrar errores generales del formulario -->
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- First column -->
                    <div class="col-md-6">
                        <div class="d-flex my-3">
                            <h4>
                                {% trans "Photo" %}
                            </h4>
                            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Modern CVs don’t require a photo, but if you think it will help, use a professional-looking one. Avoid ID-style photos, as they are generally outdated." %}">
                        </div>
                        {% if form.instance.picture %}
                        <div class="mb-3">
                            <img src="{{ form.instance.picture.url }}" class="img-thumbnail" alt="Current Profile Picture" style="max-width: 150px;">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.picture.label_tag }}
                            {{ form.picture }}
                            {{ form.picture.errors }}
                        </div>
                        <hr>
                        <div class="d-flex my-3">
                            <h4>
                                {% trans "Personal" %}
                            </h4>
                            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Your personal information should be clear. Recruiters often use it to search for you online and may discard your profile if the information is inaccurate or inconsistent." %}">
                        </div>
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                            {{ form.address.errors }}
                        </div>
                        
                    </div>

                    <!-- Second column -->
                    <div class="col-md-6">
                        <div class="d-flex my-3">
                            <h4>
                                {% trans "Profile" %}
                            </h4>
                            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Describe your profile in a short paragraph. Highlight your skills and fit—ideal for those with little experience. A CV summary showcases your achievements, best for seasoned professionals." %}">
                        </div>
                        <div class="form-group">
                            {{ form.bio }}
                            {{ form.bio.errors }}
                        </div>
                        <hr>
                        <div class="d-flex my-3">
                            <h4>
                                {% trans "Links" %}
                            </h4>
                            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Only share links to your social networks where you post work-related content." %}">
                        </div>
                        <div class="form-group">
                            {{ form.website.label_tag }}
                            {{ form.website }}
                            {{ form.website.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.linkedin.label_tag }}
                            {{ form.linkedin }}
                            {{ form.linkedin.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.github.label_tag }}
                            {{ form.github }}
                            {{ form.github.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.twitter.label_tag }}
                            {{ form.twitter }}
                            {{ form.twitter.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.facebook.label_tag }}
                            {{ form.facebook }}
                            {{ form.facebook.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.instagram.label_tag }}
                            {{ form.instagram }}
                            {{ form.instagram.errors }}
                        </div>
                        <hr>
                        <div class="d-flex">
                            <h4>
                                {% trans "Password" %}
                            </h4>
                            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Protecting your personal data is important. Using a password on your CV prevents scammers from accessing your information." %}">
                        </div>

                        <div class="form-group">
                            {{ form.password_protected.label_tag }}
                            {{ form.password_protected }}
                            {{ form.password_protected.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                    </div>
                </div>
                
                
                <!-- Mostrar botón de guardado y errores -->
                <div class="text-center">
                    <button type="submit" class="general-button-orange my-3">{% trans "Save" %}</button>
                    <a class="general-button-black" href="{% url 'user_detail' %}">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}