{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Righteous';
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="d-flex justify-content-center my-3">
            <h2 class="text-center">{% trans "Welcome" %} {{ user.username }}</h2>
            <img class="hint-icon mx-4" src="{% static 'images/hint.png' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "In this editor, you can create and edit all the information in your profile." %}">
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-around my-3">
            <a href="{% url 'curriculum_detail' profile.pk %}" class="general-button-orange">{% trans "Your Public CV" %}</a>
            <a href="{% url 'download' profile.pk %}" class="general-button-orange">{% trans "Download as PDF" %}</a>
            <a href="{% url 'tutorial' %}" class="general-button-orange">{% trans "Tutorial" %}</a>
            <a href="{% url 'logout' %}" class="general-button-orange">{% trans "Logout" %}</a>

        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center my-3">
            <h3>{% trans "Your Profile" %}</h3>
            <a href="{% url 'profile_update' %}" class="general-button-black my-3">{% trans "Edit" %}</a>
        </div>
        <div class="col-md-6 text-center">
            {% if profile.picture %}
            <img class="img-fluid profile-image-square" src="{{ profile.picture.url }}" alt="{{ profile.name }}">
            {% endif %}
            <p class="my-3">{{ profile.bio }}</p>
        </div>
        <div class="col-md-6 my-3">
            <h3>{% trans "Details" %}</h3>
            <p>{% trans "Name" %}: {{ profile.name }}</p>
            <p>{% trans "Title" %}: {{ profile.title }}</p>
            <p>{% trans "Email" %}: {{ profile.email }}</p>
            <p>{% trans "Phone" %}: {{ profile.phone }}</p>
            <p>{% trans "Address" %}: {{ profile.address }}</p>

            <h3>{% trans "Links" %}</h3>
            <p>{% trans "Website" %}: <a class="text-link-black" href="{{ profile.website }}">{{ profile.website|slice:":35" }}{% if profile.website|length > 35 %}...{% endif %}</a></p>
            <p>{% trans "LinkedIn" %}: <a class="text-link-black" href="{{ profile.linkedin }}">{{ profile.linkedin|slice:":35" }}{% if profile.linkedin|length > 35 %}...{% endif %}</a></p>
            <p>{% trans "GitHub" %}: <a class="text-link-black" href="{{ profile.github }}" target="_blank">{{ profile.github|slice:":35" }}{% if profile.github|length > 35 %}...{% endif %}</a></p>
            <p>{% trans "Twitter" %}: <a class="text-link-black" href="{{ profile.twitter }}" target="_blank">{{ profile.twitter|slice:":35" }}{% if profile.twitter|length > 35 %}...{% endif %}</a></p>
            <p>{% trans "Facebook" %}: <a class="text-link-black" href="{{ profile.facebook }}" target="_blank">{{ profile.facebook|slice:":35" }}{% if profile.facebook|length > 35 %}...{% endif %}</a></p>
            <p>{% trans "Instagram" %}: <a class="text-link-black" href="{{ profile.instagram }}" target="_blank">{{ profile.instagram|slice:":35" }}{% if profile.instagram|length > 35 %}...{% endif %}</a></p>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="d-flex">
                <h3>{% trans "Skills" %}</h3>
                <a href="{% url 'skill_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for skill in skills %}
                <div >
                    <a class="action-icon text-link-black" href="{% url 'skill_update' skill.pk %}">
                        <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                    </a>
                    <a class="action-icon text-link-black mx-2" href="{% url 'skill_delete' skill.pk %}">
                        <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                    </a>
                    {{ skill.name }} - {{ skill.level }}%
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex">
                <h3>{% trans "Languages" %}</h3>
                <a href="{% url 'language_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for language in languages %}
                <div>
                    <a class="action-icon text-link-black" href="{% url 'language_update' language.pk %}">
                        <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                    </a>
                    <a class="action-icon text-link-black mx-2" href="{% url 'language_delete' language.pk %}">
                        <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                    </a>
                    {{ language.name }} - {{ language.get_level_display }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex">
                <h3>{% trans "Interests" %}</h3>
                <a href="{% url 'interest_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for interest in interests %}
                <div>
                    <a class="action-icon text-link-black" href="{% url 'interest_update' interest.pk %}">
                        <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                    </a>
                    <a class="action-icon text-link-black mx-2" href="{% url 'interest_delete' interest.pk %}">
                        <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                    </a>
                    {{ interest.name }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex">
                <h3>{% trans "Education" %}</h3>
                <a href="{% url 'education_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for education in education %}
                <div>
                    <h5>
                        <a class="action-icon text-link-black" href="{% url 'education_update' education.pk %}">
                            <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                        </a>
                        <a class="action-icon text-link-black mx-2" href="{% url 'education_delete' education.pk %}">
                            <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                        </a>
                        {{ education.degree }} - {{ education.institution }}
                    </h5>
                    <p>{{ education.start_date }} - {{ education.end_date }}</p>
                    <p>{{ education.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="d-flex">
                <h3>{% trans "Experience" %}</h3>
                <a href="{% url 'experience_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for job in experience %}
                <div>
                    <h5>
                        <a class="action-icon text-link-black" href="{% url 'experience_update' job.pk %}">
                            <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                        </a>
                        <a class="action-icon text-link-black mx-2" href="{% url 'experience_delete' job.pk %}">
                            <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                        </a>
                        {{ job.job_title }} - {{ job.company }}
                    </h5>
                    <p>{{ job.start_date }} - {{ job.end_date }}</p>
                    <p>{{ job.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <h3>{% trans "Projects" %}</h3>
                <a href="{% url 'project_create' %}" class="general-button-black mx-3">{% trans "New" %}</a>
            </div>
            <div>
                {% for project in projects %}
                <div>
                    <div class="row d-flex flex-wrap justify-content-center">
                        <div class="col-7">
                            <a class="action-icon text-link-black" href="{% url 'project_update' project.pk %}">
                                <img src="{% static 'images/edit.png' %}" alt="{% trans 'edit' %}">
                            </a>
                            <a class="action-icon text-link-black mx-2" href="{% url 'project_delete' project.pk %}">
                                <img src="{% static 'images/delete.png' %}" alt="{% trans 'delete' %}">
                            </a>
                            <a class="text-link-black" href="{{ project.url }}">
                                <h5>{{ project.name }}</h5>
                            </a>
                            <p>{{ project.description }}</p>
                        </div>
                        <div class="col-3">
                            {% if project.image %}
                            <a class="text-link-black" href="{{ project.url }}">
                                <img src="{{ project.image.url }}" alt="{{ project.name }}" class="img-fluid">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}
