{% extends "CV_base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ profile.template.font.url }}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock %}

{% block content %}

<div class="container-fluid px-0">

    <div class="row no-gutters d-flex justify-content-center" style="background-color: {{ profile.template.colors.primary }}">
        {% if profile.picture %}
        <div class="col-md-6 px-5">
            <div class="text-center my-5">
                {% if profile.picture %}
                <img class="img-fluid profile-image-round" src="{{ profile.picture.url }}" alt="{{ profile.name }}">
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="{% if profile.picture %} col-md-6 {% else %} col-8 {% endif %} my-3 px-5">
            <h3 style="font-family: {{ profile.template.font }};">{% trans "Details" %}</h3>
            <p>{% trans "Name" %}: {{ profile.name }}</p>
            {% if profile.title %}
            <p>{% trans "Title" %}: {{ profile.title }}</p>
            {% endif %}
            <p>{% trans "Email" %}: {{ profile.email }}</p>
            <p>{% trans "Phone" %}: {{ profile.phone }}</p>
            <p>{% trans "Address" %}: {{ profile.address }}</p>

            <h3 style="font-family: {{ profile.template.font }};">{% trans "Profile" %}</h3>
            <p class="my-3">{{ profile.bio|linebreaksbr }}</p>

            <h3 style="font-family: {{ profile.template.font }};">{% trans "Links" %}</h3>
            <div class="d-flex flex-wrap social-icon p-2">
                {% if profile.website %}
                <a href="{{ profile.website }}"><img class="p-2" src="{% static 'images/website.png' %}" alt="{% trans 'Website' %}"></a>
                {% endif %}
                {% if profile.linkedin %}
                <a href="{{ profile.linkedin }}"><img class="p-2" src="{% static 'images/linkedin.png' %}" alt="{% trans 'LinkedIn' %}"></a>
                {% endif %}
                {% if profile.github %}
                <a href="{{ profile.github }}"><img class="p-2" src="{% static 'images/git.png' %}" alt="{% trans 'GitHub' %}"></a>
                {% endif %}
                {% if profile.twitter %}
                <a href="{{ profile.twitter }}"><img class="p-2" src="{% static 'images/x.png' %}" alt="{% trans 'Twitter' %}"></a>
                {% endif %}
                {% if profile.facebook %}
                <a href="{{ profile.facebook }}"><img class="p-2" src="{% static 'images/facebook.png' %}" alt="{% trans 'Facebook' %}"></a>
                {% endif %}
                {% if profile.instagram %}
                <a href="{{ profile.instagram }}"><img class="p-2" src="{% static 'images/instagram.png' %}" alt="{% trans 'Instagram' %}"></a>
                {% endif %}
            </div>
        </div>
        <div class="col-12"><hr></div>
    </div>
    <div class="row px-5" style="background-color: {{ profile.template.colors.primary }}">
        <div class="col-md-4">
            <div class="text-center">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Skills" %}</h3>
            </div>
            <div class="text-center">
                {% for skill in skills %}
                <p>{{ skill.name }} - {{ skill.level }}% </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Languages" %}</h3>
            </div>
            <div class="text-center">
                {% for language in languages %}
                <p>{{ language.name }} - {{ language.get_level_display }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Interests" %}</h3>
            </div>
            <div class="text-center">
                {% for interest in interests %}
                <p>{{ interest.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row text-black py-4 px-5" style="background-color: {{ profile.template.colors.secondary }}">
        <div class="col-md-6">
            <div class="d-flex">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Education" %}</h3>
            </div>
            <ul>
                {% for education in education %}
                <h5>{{ education.degree }} -{{ education.institution }}</h5>
                <p>{{ education.start_date|date:"F Y" }} - {{ education.end_date|date:"F Y" }}</p> 
                <p>{{ education.description|linebreaksbr }}</p>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Experience" %}</h3>
            </div>
            <ul>
                {% for job in experience %}
                <h5>{{ job.job_title }} - {{ job.company }}</h5>
                <p>{{ job.start_date|date:"F Y" }} - {{ job.end_date|date:"F Y" }}</p>
                <p>{{ job.description|linebreaksbr }}</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row py-4 px-5 text-light" style="background-color: {{ profile.template.colors.tertiary }}">
        <div class="col-md-12">
            <div class="d-flex">
                <h3 style="font-family: {{ profile.template.font }};">{% trans "Projects" %}</h3>
            </div>
            <ul>
                {% for project in projects %}
                <div class="row d-flex flex-wrap justify-content-center my-3">
                    <div class="col-7">
                        <a class="text-link-white" href="{{ project.url }}"><h5>{{ project.name }}</h5></a>
                        <p>{{ project.description|linebreaksbr }}</p>
                    </div>
                    <div class="col-3" >
                        {% if project.image %}
                        <a class="text-link-black " href="{{ project.url }}" ><img class="img-fluid animated-card" src="{{ project.image.url }}" alt="{{ project.name }}" ></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="about-info text-center" style="background-color: {{ profile.template.colors.primary }};">
            <h2 class="text-center my-3 text-dark" style="font-family: {{ profile.template.font }};">{% trans "Share this CV:" %}</h2>
            <div class="d-flex flex-wrap justify-content-center social-icon p-2">
                <a href="{{ share_facebook }}" target="_blank" class="social-icon m-1">
                    <img class="p-2" src="{% static 'images/facebook.png' %}" alt="{% trans 'Facebook' %}">
                </a>
                <a href="{{ share_twitter }}" target="_blank" class="social-icon m-1">
                    <img class="p-2" src="{% static 'images/x.png' %}" alt="{% trans 'Twitter' %}">
                </a>
                <a href="{{ share_linkedin }}" target="_blank" class="social-icon m-1">
                    <img class="p-2" src="{% static 'images/linkedin.png' %}" alt="{% trans 'LinkedIn' %}">
                </a>
                <a href="{{ share_whatsapp }}" target="_blank" class="social-icon m-1">
                    <img class="p-2" src="{% static 'images/whatsapp.png' %}" alt="{% trans 'WhatsApp' %}">
                </a>
                <a href="{{ share_telegram }}" target="_blank" class="social-icon m-1">
                    <img class="p-2" src="{% static 'images/telegram.png' %}" alt="{% trans 'Telegram' %}">
                </a>
            </div>
            <div class="text-center">
                <img class="img-fluid qr-code" src="data:image/png;base64,{{ qr_code|safe }}" alt="{% trans 'QR Code' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}
