{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans 'Professional CV Builder | Customizable Templates' %}</title>


  <link
    rel="icon"
    href="{% static 'images/logo.png' %}"
    type="image/x-icon"
  />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Matemasie&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Translatable meta description -->
    <meta name="description" content="{% trans 'Create your professional CV for free with customizable templates. Designed for professionals and students who want to impress.' %}">
    
    <!-- Translatable keywords -->
    <meta name="keywords" content="{% trans 'CV, resume, free, create CV, CV template, CV creator, curriculum, vitae, create resume, resume template' %}">

    <!-- Generar hreflang para cada idioma disponible en el sitio -->

    {% get_available_languages as LANGUAGES %}
    {% for lang in LANGUAGES %}
        <link rel="alternate" href="{{ request.build_absolute_uri }}" hreflang="{{ lang.0 }}">
    {% endfor %}
    
    <!-- Open Graph meta tags with translations -->
    <meta property="og:title" content="{% trans 'Free Professional CV Builder' %}">
    <meta property="og:description" content="{% trans 'Create your professional CV for free with customizable templates. Designed for professionals and students who want to impress.' %}">
    <meta property="og:image" content="{% static 'images/hero_1.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">

    <!-- Twitter Card meta tags with translations -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans 'Free Professional CV Builder' %}">
    <meta name="twitter:description" content="{% trans 'Create your professional CV for free with customizable templates.' %}">
    <meta name="twitter:image" content="{% static 'images/hero_1.png' %}">


    {% block head %}
    {% endblock %}

</head>
<body style="background-color: rgb(189, 204, 216) ; font-family: Montserrat">



    {% block content %} 
    
    {% endblock %}
    {% include "footer.html" %}

    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



    


      {% block scripts %}

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
          });
        });
        </script>

      {% endblock %}

</body>
</html>