{% extends "CV_base.html" %}
{% load i18n %}

{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ profile.template.font.url }}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div class="col-md-3 p-4 sticky-top" style="background-color: {{ profile.template.colors.primary }};">
            <div class="sticky-top">
                <div class="text-center mb-4">
                    <h2 class="font-weight-bold" style="font-family: {{ profile.template.font }};">{{ profile.name }}</h2>
                    <p>{{ profile.title }}</p>
                </div>
                {% if profile.picture %}
                <div class="text-center mb-4">
                    <img class="img-fluid profile-image-square" src="{{ profile.picture.url }}" alt="{{ profile.name }}" style="max-width: 150px;">
                </div>
                {% endif %}
                <div class="contact-info">
                    <p><i class="text-link-black"></i> <a href="mailto:{{ profile.email }}" class="text-link-black">{{ profile.email }}</a></p>
                    <p><i class="fas fa-phone"></i> {{ profile.phone }}</p>
                    <p><i class="fas fa-map-marker-alt"></i> {{ profile.address }}</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center social-icon p-2">
                    {% if profile.website %}
                    <a href="{{ profile.website }}"><img class="p-2" src="{% static 'images/website.png' %}" alt="{% trans 'Website' %}"></a>
                    {% endif %}
                    {% if profile.linkedin %}
                    <a href="{{ profile.linkedin }}"><img class="p-2" src="{% static 'images/linkedin.png' %}" alt="{% trans 'LinkedIn' %}"></a>
                    {% endif %}
                    {% if profile.github %}
                    <a href="{{ profile.github }}"><img class="p-2" src="{% static 'images/git.png' %}" alt="{% trans 'GitHub' %}"></a>
                    {% endif %}
                    {% if profile.twitter %}
                    <a href="{{ profile.twitter }}"><img class="p-2" src="{% static 'images/x.png' %}" alt="{% trans 'Twitter' %}"></a>
                    {% endif %}
                    {% if profile.facebook %}
                    <a href="{{ profile.facebook }}"><img class="p-2" src="{% static 'images/facebook.png' %}" alt="{% trans 'Facebook' %}"></a>
                    {% endif %}
                    {% if profile.instagram %}
                    <a href="{{ profile.instagram }}"><img class="p-2" src="{% static 'images/instagram.png' %}" alt="{% trans 'Instagram' %}"></a>
                    {% endif %}
                </div>
                <hr class="bg-secondary">
                
                <!-- Sección de Habilidades -->
                {% if skills %}
                <h5 style="font-family: {{ profile.template.font }};">{% trans "Skills" %}</h5>
                <ul class="list-unstyled">
                    {% for skill in skills %}
                    <li><i class="fas fa-check-circle"></i> {{ skill.name }} - {{ skill.level }}%</li>
                    {% endfor %}
                </ul>
                <hr class="bg-secondary">
                {% endif %}
                
                {% if languages %}
                <h5 style="font-family: {{ profile.template.font }};">{% trans "Languages" %}</h5>
                <ul class="list-unstyled">
                    {% for language in languages %}
                    <li><i class="fas fa-heart"></i> {{ language.name }} - {{ language.level }}</li>
                    {% endfor %}
                </ul>
                <hr class="bg-secondary">
                {% endif %}

                <!-- Sección de Intereses -->
                {% if interests %}
                <h5 style="font-family: {{ profile.template.font }};">{% trans "Interests" %}</h5>
                <ul class="list-unstyled">
                    {% for interest in interests %}
                    <li><i class="fas fa-heart"></i> {{ interest.name }}</li>
                    {% endfor %}
                </ul>
                <hr class="bg-secondary">
                {% endif %}

                <h5 style="font-family: {{ profile.template.font }};">{% trans "Share" %}</h5>
                <div class="text-center" style="background-color: {{ profile.template.colors.primary }};">
                    <div class="d-flex flex-wrap justify-content-center social-icon p-2">
                        <a href="{{ share_facebook }}" target="_blank" class="social-icon m-1">
                            <img class="p-2" src="{% static 'images/facebook.png' %}" alt="{% trans 'Facebook' %}">
                        </a>
                        <a href="{{ share_twitter }}" target="_blank" class="social-icon m-1">
                            <img class="p-2" src="{% static 'images/x.png' %}" alt="{% trans 'Twitter' %}">
                        </a>
                        <a href="{{ share_linkedin }}" target="_blank" class="social-icon m-1">
                            <img class="p-2" src="{% static 'images/linkedin.png' %}" alt="{% trans 'LinkedIn' %}">
                        </a>
                        <a href="{{ share_whatsapp }}" target="_blank" class="social-icon m-1">
                            <img class="p-2" src="{% static 'images/whatsapp.png' %}" alt="{% trans 'WhatsApp' %}">
                        </a>
                        <a href="{{ share_telegram }}" target="_blank" class="social-icon m-1">
                            <img class="p-2" src="{% static 'images/telegram.png' %}" alt="{% trans 'Telegram' %}">
                        </a>
                    </div>
                    <div class="text-center">
                        <img class="img-fluid qr-code" src="data:image/png;base64,{{ qr_code|safe }}" alt="{% trans 'QR Code' %}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Detalles -->
        <div class="col-md-9" style="background-color: {{ profile.template.colors.secondary }};">
            <div class="row justify-content-center p-4" style="background-color: {{ profile.template.colors.tertiary }};">
                <h4 class="border-bottom pb-2" style="font-family: {{ profile.template.font }};">{% trans "Profile" %}</h4>
                <p>{{ profile.bio }}</p>
            </div>

            <div class="row p-4" style="background-color: {{ profile.template.colors.secondary }};">
            <!-- Sección de Educación -->
                <h4 class="border-bottom pb-2 mt-4" style="font-family: {{ profile.template.font }};">{% trans "Education" %}</h4>
                {% for education in education %}
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-family: {{ profile.template.font }};">{{ education.degree }}</h5>
                        <p>{{ education.institution }}</p>
                        <p>{{ education.description }}</p>
                    </div>
                    <div>{{ education.start_date }} - {{ education.end_date }}</div>
                </div>
                {% endfor %}

                <!-- Sección de Experiencia Laboral -->
                <h4 class="border-bottom pb-2 mt-4" style="font-family: {{ profile.template.font }};">{% trans "Work Experience" %}</h4>
                {% for job in experience %}
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="font-family: {{ profile.template.font }};">{{ job.job_title }}</h5>
                        <p>{{ job.company }}</p>
                        <ul>
                            <li>{{ job.description }}</li>
                        </ul>
                    </div>
                    <div>{{ job.start_date }} - {{ job.end_date }}</div>
                </div>
                {% endfor %}
            </div>

            {% if projects %}
            <div class="row justify-content-center p-4" style="background-color: {{ profile.template.colors.tertiary }};">
                <h4 class="border-bottom pb-2 mt-4" style="font-family: {{ profile.template.font }};">{% trans "Projects" %}</h4>
                <div class="row d-flex flex-wrap justify-content-around">
                    {% for project in projects %}
                    <div class="col-md-3 col-12 my-4 px-2">
                        <div class="card animated-card h-100 d-flex flex-row text-dark" style="background-image: url('{{ project.image.url }}'); background-size: cover; background-position: center;">
                            <div class="col-12 d-flex flex-column justify-content-center" style="background-color: rgba(255, 255, 255, 0.773);">
                                <div class="card-body text-dark">
                                    <a class="text-link" href="{{ project.url }}" style="font-family: {{ profile.template.font }};">
                                        <h5 class="card-title" style="font-family: {{ selected_template.font }};">{{ project.name }}</h5>
                                    </a>       
                                    <p class="card-text font-italic">
                                        {{ project.description|slice:":120" }}{% if project.description|length > 120 %}...{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
