{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ selected_template.font.url }}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color: {{ selected_template.colors.primary }}; overflow: hidden; position: relative;">
    <div class="d-flex flex-wrap justify-content-end align-items-center" style="background-image: url('{% static 'images/hero_1.png' %}'); background-size: cover; background-position: center; background-attachment: fixed;">
        <div  class="row d-flex justify-content-end align-items-center" 
             style="height: 100vh; position: relative; z-index: 2;">
            <div class="col-md-6 d-flex col-12 text-center text-black align-items-center px-4" style="height: 100vh; background-color: rgba(255, 255, 255, 0.83);">
                <div>
                    <h2 class="my-5" style="font-family: {{ selected_template.font }};">{% trans "Simplified CV Creation" %}</h2>
                    <p style="line-height: 2;">{% trans "Create a stunning CV effortlessly with our customizable templates. Showcase your skills, experience, and personality with just a few clicks." %}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'user_detail' %}" class="general-button-orange">{% trans "Go to Your Profile" %}</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="general-button-orange">{% trans "Register Now" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: {{ selected_template.colors.secondary }};">
    <div class="row d-flex flex-wrap justify-content-center align-items-center">
        <div class="col-md-8 col-12 text-center text-black my-5 px-5">
            <h2 class="my-5" style="font-family: {{ selected_template.font }};">{% trans "Professional and Easy!" %}</h2>
            <p>{% trans "Designed for professionals, students, and job seekers who want to make a great impression. We offer a range of beautiful, modern templates that you can customize to reflect your personal style and career aspirations. With our easy-to-use editor, you can update your CV anytime, anywhere, and ensure it always looks its best." %}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'user_detail' %}" class="general-button-orange">{% trans "Go to Your Profile" %}</a>
            {% else %}
                <a href="{% url 'register' %}" class="general-button-orange">{% trans "Register Now" %}</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-4">
                <!-- Aquí podrías agregar contenido adicional si es necesario -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: {{ selected_template.colors.tertiary }};">
    <div class="row d-flex text-white flex-wrap justify-content-center align-items-center">
        <div class="col-md-6 col-12 text-center  my-5 px-5">
            <h2 class="my-5" style="font-family: {{ selected_template.font }};">{% trans "Not sure how to start?" %}</h2>
            <p>{% trans "This short tutorial will give you an idea of how to create a great CV." %}</p>
            <a href="{% url 'tutorial' %}" class="general-button-orange">{% trans "Tutorial" %}</a>
        </div>
        <div class="col-md-6 col-12 text-center  my-5 px-5">
            <img src="{% static 'images/styles.png' %}" alt="Tutorial" class="img-fluid">
        </div>
        <div class="row">
            <div class="col-4">
                <!-- Aquí podrías agregar contenido adicional si es necesario -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
